[submodule "ai"]
    path = ai
    url = https://github.com/Luisotee/smolagents-ai-boilerplate
	branch = main
[submodule "clients"]
    path = clients
    url = https://github.com/Luisotee/llm-clients-boilerplate
	branch = main
